
<div class="container">
        <div class="row">
            <div class="col-sm-12">
    
    
                <div>
                    <p class="text-center">&copy; 2020 Kahoor</p>
                </div>
    
            </div>
        </div>
    
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
    </div>
    
    