h1 {
    color: rgb(86, 110, 112);
}

.wmd-preview{
    display: none;
}


h2 {
    color: rgb(48, 45, 58);
}

h3 {
    color: rgb(0, 0, 0);
}

footer {
    margin-top: 60px;
}

.validation-message {
    font-style: normal;
    font-size: 10px;
    color: #FF1C19;
}

a {
    transition: all .2s;
}

a:hover, a:focus, a:active {
    color: purple;
    text-decoration: none;
}

.pagination {
    display: block;
    text-align: center;
}
