{% extends 'shared/base.html' %} 
{% load markdown_deux_tags %}
{% load crispy_forms_tags %}

{% block title %} Blog {% endblock %}
{% block content %}
    <div class="container">

        <!-- Post -->
        <div class="jumbotron">

            <!-- Post title -->
            <h1>{{ post.title }}</h1>

            <div> Created {{ post.published }} by <a href="{% url 'blog:userposts' post.user.username %}">{{post.user.username}}</a></div>

            <!-- Post body -->
            <h3>{{ post.body|markdown|urlizetrunc:25 }}</h3>

        </div>

        
    </div>
{% endblock %}